<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>
<body>
    <%- include('navbar') %>
    <main>
        <h2><%- folder.name %></h2>
        <p>Created <%- folder.created %></p>
        <% if (folder.parentPath) { %>
            <p><a href=<%- `/files${folder.parentPath.slice(0, -1)}` %>>Return</a></p>
        <% } %>
        <form action=<%- `/file/upload${folder.path.slice(0, -1)}` %> method="post" enctype="multipart/form-data">
            <h3>New File</h3>
            <input type="file" name="new_file">
            <button type="submit">Submit</button>
        </form>
        <form action=<%- `/folder/create${folder.path.slice(0, -1)}` %> method="post">
            <h3>New Folder</h3>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <button type="submit">Create</button>
        </form>
        <% if (folder.parentPath) { %>
            <form action="<%= `/folder/update${folder.path.slice(0, -1)}` %>" method="post">
                <h3>Edit Folder</h3>
                <label for="name">Rename</label>
                <input type="text" name="name" id="name" value="<%- folder.name %>">
                <label for="parent">New parent</label>
                <select name="parent" id="parent">
                    <% for (const path of paths) { %>
                        <% const selected = path === folder.parentPath ? 'selected' : '' %>
                        <option value=<%- path %> <%- selected %>><%- path %></option>
                    <% } %>
                </select>
                <button type="submit">Submit edit</button>
            </form>
            <form action="/folder/delete" method="post">
                <input type="hidden" name="path" value=<%- folder.path %>>
                <button type="submit">Delete Folder</button>
            </form>
        <% } %>
        <h3>Subfolders</h3>
        <% if (folder.children.length > 0) { for (const child of folder.children) { %>
            <div>
                <p>Name <%- child.name %></p>
                <p>Created <%- child.created %></p>
                <p><a href="<%= `/files${child.path.slice(0, -1)}` %>">Open</a></p>
            </div>
        <% }} else { %>
            <p>No subfolders.</p>
        <% } %>
        <h3>Files</h3>
        <% if (folder.files.length > 0) { for (const file of folder.files) { %>
            <div>
                <p>Name <%- file.name %></p>
                <p>Mime type <%- file.mime %></p>
                <p>Size <%- file.size %></p>
                <p>Uploaded <%- file.uploaded %></p>
                <p><a href=<%- `/file/edit/${file.id}` %>>Edit</a></p>
            </div>
        <% }} else { %>
            <p>No files yet.</p>
        <% } %>
    </main>
</body>
</html>